In [2]:
import pandas as pd

df_1 = pd.read_csv("Total_data.csv", sep=";")
df_1.head(30)

            steps  positive  negative  chance  amount
0        [83,3,2]         5        52    0.91     NaN
1         [4,4,2]       448      4791    0.91     NaN
2     [25,23,101]       107       419    0.80     NaN
3     [250,78,31]         4        21    0.84     NaN
4   [250,105,107]       236      1139    0.83     NaN
5     [26,250,13]        13        87    0.87     NaN
6      [8,16,111]         5        57    0.92     NaN
7    [261,90,101]        43       157    0.79     NaN
8    [250,261,65]        28       103    0.79     NaN
9     [56,91,103]        41        92    0.69     NaN
10    [65,94,111]         0         3    1.00     NaN
11    [12,10,102]       416      2148    0.84     NaN
12   [199,95,103]         0         3    1.00     NaN
13      [2,16,97]         6        14    0.70     NaN
14    [12,102,12]       120       409    0.77     NaN
15    [106,7,112]        37       108    0.74     NaN
16   [105,105,96]        34       116    0.77     NaN
17    [105,5,102]        50       321    0.87     NaN
18    [117,91,10]         9        82    0.90     NaN
19     [111,90,2]       755      8599    0.92     NaN
20  [109,106,101]       103       290    0.74     NaN
21     [60,3,102]        36       154    0.81     NaN
22      [2,25,25]       624      2157    0.78     NaN
23    [10,261,60]        21       192    0.90     NaN
24      [2,97,11]         7        40    0.85     NaN
25  [120,102,102]       439      1524    0.78     NaN
26    [105,105,7]       147       820    0.85     NaN
27       [15,6,2]       261      1463    0.85     NaN
28     [19,111,2]       680      4835    0.88     NaN
29      [12,6,15]        11        16    0.59     NaN